@import "~bootstrap/scss/bootstrap";
@import "custom";
// styles in src/style directory are applied to the whole page
$main-color: blue;

html{
  height: 100%;
}

body {
  background-color: $main-color;
  height: 100%;
}

.t-shirts {
  background-image: url("../public/img/back.png");
  background-size: 70%;
  background-repeat: repeat-y;
  background-position: center;
}
