<div class="container-fluid h-100 w-100">
  <div class="row no-gutters h-100 w-100">
    <div class="col-md">
      <div class="row no-gutters h-50 w-100">
        <div class="col-md h-100 w-100">
          <iframe class="h-100 w-100" src="https://www.youtube.com/embed/h4UqMyldS7Q?ecver=1" frameborder="0"
                  allowfullscreen></iframe>
        </div>
      </div>
      <div class="row no-gutters h-50 w-100">
        <div class="col-md h-100 w-100">
          <iframe class="h-100 w-100" src="https://www.youtube.com/embed/h4UqMyldS7Q?ecver=1" frameborder="0"
                  allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="col-md t-shirts">
      <div class="row">
        <div class="col-md">
          TEST
        </div>
      </div>
    </div>
  </div>
</div>
